* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000;
    text-decoration: none;
    span {
        color: #2196F3;
    }
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    border: 1px solid #ECECEC;
    background-color: white;
    .nav {
        &__wrapper {
            max-width: calc(320px + 68px + 145px);
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-left: 93px;
            &:first-child {
                margin: 0;
            }
        }
        &__container {
            max-width: 1170px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 20px 0px;
        }
        &__routes {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            &-item {
                padding-left: 50px;
                &:first-child {
                    padding: 0;
                }
            }
            &-link {
                font-weight: 500;
                color: #212121;
            }
            &-link:hover {
                color: #2196F3;
            }
            &-link:active {
                color: #2196F3;
            }
        }
        &__info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            &-item {
                padding-left: 50px;
                &:first-child {
                    padding: 0;
                }
            }
            &-link {
                font-weight: 500;
                color: #212121;
            }
            &-link:hover {
                color: #2196F3;
            }
        }
    }
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.banner {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    background-color: #2F303A;
    padding: 200px 0;
    &__title {
        display: flex;
        text-align: center;
        color: white;
        font-size: 44px;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 60px;
        letter-spacing: 0.06em;
    }
    &__button {
        background-color: #2196F3;
        color: white;
        border-radius: 4px;
        padding: 15px 32px;
        width: max-content;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        margin-top: 35px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }
}

.title {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.info {
    &__container {
        display: flex;
        flex-direction: row;
        justify-items: center;
        justify-content: space-between;
        padding: 94px 0;
    }
    &__item {
        max-width: 270px;
        width: 100%;
        padding-left: 30px;
        &:first-child {
            padding: 0;
        }
        &-title {
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
        }
        &-text {
            line-height: 24px;
            margin-top: 10px;
            letter-spacing: 0.03em;
            font-weight: 400;
            color: #757575;
        }
    }
}

.about {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 94px 0;
    }
    &__pictures {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        &-img {
            margin: 20px;
            width: 370px;
            height: 294px;
        }
    }
}

.team {
    background: #F5F4FA;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 94px 0;
    }
    &__cards {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .card {
            border: black;
            background-color: white;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
            max-width: 270px;
            margin-left: 30px;
            &:first-child {
                margin: 0;
            }
            &__description {
                padding: 30px;
                margin: auto;
                text-align: center;
                font-size: 16px;
                font-weight: 500;
                line-height: 19px;
                letter-spacing: 0.03em;
            }
            &__img {
                width: 270px;
            }
            &__position {
                color: #757575;
                margin-top: 10px;
            }
            &__social {
                padding: 16px 0 30px 0;
                display: flex;
                justify-content: center;
                &-item {
                    margin-left: 10px;
                    &:first-child {
                        margin-left: 0;
                    }
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 44px;
                    height: 44px;
                    transition: 0.1s;
                    svg {
                        transition: 0.1s;
                    }
                }
                &-item:hover {
                    background-color: #2196F3;
                    color: #FFFF;
                    border-radius: 50%;
                    svg {
                        path {
                            fill: #FFFF;
                        }
                    }
                }
            }
        }
    }
}

.footer {
    &__container {
        max-width: 1170px;
        padding: 60px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__logo {
        color: #FFFF;
    }
    display: flex;
    background-color: #2F303A;
    padding: 10px;
    &__list {
        margin-top: 20px;
        &-item {
            margin-top: 10px;
            color: white;
            line-height: 24px;
            letter-spacing: 0.03em;
        }
        p {
            opacity: 60%;
        }
    }
}

.navbar {
    &__container {
        display: flex;
        justify-content: center;
        margin-top: 94px;
    }
    &__button {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #000;
        padding: 6px 22px;
        background: #F5F4FA;
        border: #F5F4FA;
        border-radius: 4px;
        margin-left: 8px;
        &:first-child {
            margin-left: 0;
        }
    }
    &__button:hover {
        background-color: #2196F3;
        color: #FFFFFF;
        box-shadow: 0px 2px 2px 0px #0000001F;
        box-shadow: 0px 1px 2px 0px #00000014;
        box-shadow: 0px 3px 1px 0px #0000001A;
    }
}

.photocards {
    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        padding: 50px 0 94px 0;
    }
    &__image {
        width: 100%;
        height: 294px;
    }
    &__item {
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        max-width: 370px;
    }
    &__description {
        margin: 20px 0;
        padding: 0 24px;
    }
    &__type {
        margin-top: 4px;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.03em;
        color: #757575;
    }
    &__name {
        font-weight: 700;
        font-size: 18px;
        line-height: 36px;
        letter-spacing: 0.06em;
        color: #212121;
    }
}