* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    background: #F5F4FA;
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000;
    text-decoration: none;
    span {
        color: #2196F3;
    }
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    border: 1px solid #ECECEC;
    background-color: white;
    .nav {
        &__side {
            border: 1px solid #ECECEC;
            display: none;
            flex-direction: column;
            padding: 20px 0;
            justify-content: center;
            align-items: center;
            &__routes {
                text-align: center;
                width: 100%;
                &-item {
                    padding: 20px 0;
                    width: 100%;
                    &:first-child {
                        padding: 0 0 20px 0;
                        text-align: center;
                    }
                }
                &-link {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    font-weight: 500;
                    color: #212121;
                    transition: 0.3s;
                    position: relative;
                }
                &-link:active {
                    color: #2196F3;
                }
                &-link::after {
                    content: '';
                    position: absolute;
                    background: #2196F3;
                    width: 100%;
                    bottom: -20px;
                    left: 0;
                    min-width: inherit;
                    height: 4px;
                    border-radius: 2px;
                    transition: 0.3s;
                    opacity: 0;
                }
                &-link:active:after {
                    opacity: 1;
                }
            }
            &__info {
                width: 100%;
                &-item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 20px 0;
                    position: relative;
                    width: 100%;
                    &:last-child {
                        padding: 20px 0 0 0;
                    }
                    &:last-child:active:after {
                        bottom: -22px;
                    }
                }
                &-link {
                    font-weight: 500;
                    color: #212121;
                    margin-left: 10px;
                    transition: 0.3s;
                }
                &-item:active {
                    a {
                        color: #2196F3;
                    }
                    svg {
                        path {
                            fill: #2196F3;
                        }
                    }
                }
                &-item:active:after {
                    content: '';
                    position: absolute;
                    background: #2196F3;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    min-width: inherit;
                    height: 4px;
                    border-radius: 2px;
                    transition: 0.3s;
                    opacity: 0;
                }
                &-item:hover:after {
                    opacity: 1;
                }
            }
        }
        &__side.show {
            display: flex;
            animation: growDown 300ms ease-in-out forwards
        }
        &__wrapper {
            max-width: calc(320px + 68px + 145px);
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-left: 93px;
            &:first-child {
                margin: 0;
            }
        }
        &__container {
            max-width: 1170px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 20px 0px;
        }
        &__routes {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            &-item {
                padding-left: 50px;
                &:first-child {
                    padding: 0;
                }
            }
            &-link {
                font-weight: 500;
                color: #212121;
                transition: 0.3s;
                position: relative;
            }
            &-link:hover {
                color: #2196F3;
            }
            &-link::after {
                content: '';
                position: absolute;
                background: #2196F3;
                width: 100%;
                bottom: -28px;
                left: 0;
                min-width: inherit;
                height: 4px;
                border-radius: 2px;
                transition: 0.3s;
                opacity: 0;
            }
            &-link:hover:after {
                opacity: 1;
            }
        }
        &__info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            &-item {
                display: flex;
                align-items: center;
                padding-left: 50px;
                &:first-child {
                    padding: 0;
                }
            }
            &-link {
                font-weight: 500;
                color: #212121;
                margin-left: 10px;
                transition: 0.3s;
            }
            &-item:hover {
                a {
                    color: #2196F3;
                }
                svg {
                    path {
                        fill: #2196F3;
                    }
                }
            }
        }
        &__burger {
            position: relative;
            display: flex;
            flex-direction: column;
            cursor: pointer;
            display: none;
            padding: 8px 15px;
            margin-top: 0px;
            &-line {
                width: 30px;
                padding: 2px 0;
                background: #000;
                margin-top: 4px;
                &:first-child {
                    margin-top: 0;
                }
                border-radius: 4px;
                transition: 0.3s;
            }
        }
        &__burger::after {
            content: '';
            display: none;
        }
        &__burger:hover {
            div {
                background: #2196F3;
            }
        }
        @media (max-width: 768px) {
            .logo {
                padding: 0 15px;
            }
            &__burger {
                display: block;
            }
            &__routes {
                display: none;
            }
            &__info {
                display: none;
            }
            &__side {
                display: none;
            }
        }
    }
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.banner {
    position: relative;
    &__image {
        background: rgba(47, 48, 58, 0.4);
        z-index: 0;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    &__container {
        padding: 200px 0 200px 0;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__title {
        display: flex;
        text-align: center;
        color: white;
        font-size: 44px;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 60px;
        letter-spacing: 0.06em;
    }
    &__button {
        margin-top: 35px;
    }
}

.button {
    background-color: #2196F3;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 15px 32px;
    width: max-content;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

.button:hover {
    background-color: #1a1aff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.button:active {
    background-color: #000080;
}

.title {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.info {
    &__image {
        padding: 94px 0 30px 0;
        display: flex;
        justify-content: space-between;
        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 270px;
            height: 120px;
            background: #E5E5E5;
            border-radius: 4px;
            margin-left: 30px;
            &:first-child {
                margin-left: 0;
            }
        }
    }
    &__container {
        display: flex;
        flex-direction: row;
        justify-items: center;
        justify-content: space-between;
        padding: 0 0 94px 0;
    }
    &__item {
        max-width: 270px;
        width: 100%;
        &:first-child {
            padding: 0;
        }
        &-title {
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
        }
        &-text {
            line-height: 24px;
            margin-top: 10px;
            letter-spacing: 0.03em;
            font-weight: 400;
            color: #757575;
        }
    }
}

.about {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0 94px 0;
    }
    &__pictures {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        &-img {
            margin: 20px;
            width: 370px;
            height: 294px;
        }
        &__container {
            position: relative;
        }
        &__title {
            position: absolute;
            bottom: 23px;
            left: 20px;
            width: 370px;
            background: rgba(47, 48, 58, 0.8);
            &-item {
                padding: 27px 0;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: #FFFFFF;
            }
        }
    }
}

.team {
    background: #E5E5E5;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 94px 0;
    }
    &__cards {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .card {
            border: black;
            background-color: white;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
            max-width: 270px;
            width: 100%;
            margin-left: 30px;
            &:first-child {
                margin: 0;
            }
            &__description {
                padding: 30px;
                margin: auto;
                text-align: center;
                font-size: 16px;
                font-weight: 500;
                line-height: 19px;
                letter-spacing: 0.03em;
            }
            &__img {
                width: 270px;
            }
            &__position {
                color: #757575;
                margin-top: 10px;
            }
            &__social {
                padding: 16px 0 30px 0;
                display: flex;
                justify-content: center;
                &-item {
                    margin-left: 10px;
                    &:first-child {
                        margin-left: 0;
                    }
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 44px;
                    height: 44px;
                    transition: 0.3s;
                    svg {
                        transition: 0.1s;
                    }
                }
                &-item:hover {
                    background-color: #2196F3;
                    color: #FFFF;
                    border-radius: 50%;
                    svg {
                        path {
                            fill: #FFFF;
                        }
                    }
                }
            }
        }
    }
}

.clients {
    &__list {
        display: flex;
        justify-content: center;
        padding: 50px 0 0px 0;
    }
    &__container {
        padding: 94px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 92px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        margin-left: 30px;
        &:first-child {
            margin-left: 0;
        }
        transition: 0.3s;
        svg {
            path {
                transition: 0.3s;
            }
        }
    }
    &-item:hover {
        border: 1px solid #2196F3;
        svg {
            path {
                fill: #2196F3;
            }
        }
    }
}

.footer {
    &__container {
        max-width: 1170px;
        padding: 60px 0;
        display: flex;
    }
    &__logo {
        color: #FFFF;
    }
    display: flex;
    background-color: #2F303A;
    &__list {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        &-item {
            margin-top: 10px;
            color: white;
            line-height: 24px;
            letter-spacing: 0.03em;
        }
        p {
            opacity: 60%;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__social {
        padding: 10px 0;
        margin-left: 70px;
        display: flex;
        flex-direction: column;
        &-list {
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }
        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 44px;
            height: 44px;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 50%;
            margin-left: 10px;
            &:first-child {
                margin-left: 0;
            }
            transition: 0.3s;
        }
        &-item:hover {
            background-color: #2196F3;
        }
    }
    &__send {
        padding: 10px 0;
        margin-left: 93px;
        display: flex;
        flex-direction: column;
        &-title {
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
    &__group {
        margin-top: 20px;
        position: relative;
        &-button {
            margin-left: 12px;
            width: 200px;
            height: 50px;
            padding: 10px 29px;
            text-align: start;
        }
        &-icon {
            position: absolute;
            top: 13px;
            right: 32px;
        }
        &-input {
            border: 1px solid rgba(255, 255, 255, 0.3);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: 4px;
            background: #2F303A;
            width: 358px;
            height: 50px;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.03em;
            color: rgb(255, 255, 255);
            padding-left: 15px;
            transition: 0.3s;
        }
        &-input::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
        }
        &-input:focus::placeholder {
            visibility: hidden;
        }
        &-name {
            position: absolute;
            top: 15px;
            left: 16px;
            z-index: 1;
        }
        &-input:hover {
            border: 1px solid #2196F3;
        }
        &-input:focus {
            outline: none;
            border: 1px solid #2196F3;
        }
    }
    &__group:active {
        span {
            visibility: hidden;
        }
    }
}

.navbar {
    &__container {
        display: flex;
        justify-content: center;
        margin-top: 94px;
    }
    &__button {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #000;
        padding: 6px 22px;
        background: #F5F4FA;
        border: #F5F4FA;
        border-radius: 4px;
        margin-left: 8px;
        &:first-child {
            margin-left: 0;
        }
        transition: 0.3s;
    }
    &__button:hover {
        background-color: #2196F3;
        color: #FFFFFF;
        box-shadow: 0px 2px 2px 0px #0000001F;
        box-shadow: 0px 1px 2px 0px #00000014;
        box-shadow: 0px 3px 1px 0px #0000001A;
    }
}

.photocards {
    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        padding: 50px 0 94px 0;
    }
    &__group {
        width: 100%;
        height: 294px;
        position: relative;
        transition: 0.3s;
        z-index: 1;
        &__description {
            width: 100%;
            height: 100%;
            background: rgba(33, 150, 243, 0.9);
            position: absolute;
            opacity: 0;
            z-index: 1;
            top: 0;
            left: 0;
            transition: 0.3s;
            &-item {
                position: absolute;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 0.03em;
                color: #FFFFFF;
                padding: 63px 24px;
                opacity: 0;
                transition: 0.3s;
                z-index: 1;
            }
            &-item:hover {
                opacity: 1;
            }
        }
        &__description:hover {
            opacity: 1;
        }
        &-image {
            width: 100%;
            height: 100%;
        }
    }
    &__item {
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        max-width: 370px;
    }
    &__item:hover {
        div {
            p {
                opacity: 1;
            }
        }
    }
    &__description {
        margin: 20px 0;
        padding: 0 24px;
    }
    &__type {
        margin-top: 4px;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.03em;
        color: #757575;
    }
    &__name {
        font-weight: 700;
        font-size: 18px;
        line-height: 36px;
        letter-spacing: 0.06em;
        color: #212121;
    }
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.2);
    &__body {
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 10px;
        transition: all 0.8s ease;
    }
    &__content {
        width: 528px;
        height: 627px;
        background: #FFFF;
        position: relative;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }
    &__close {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 8px;
        right: 8px;
    }
    &__container {
        display: flex;
        flex-direction: column;
        max-width: 448px;
        max-height: 501px;
        height: 100%;
        margin: 0 auto;
        padding: 40px 0;
    }
    &__input {
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        margin-top: 28px;
        width: 100%;
        padding: 10px;
        transition: 0.3s;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
        padding-left: 40px;
        &:first-child {
            margin-top: 30px;
        }
        &__group {
            position: relative;
            transition: 0.3s;
            &-icon {
                position: absolute;
                top: 53px;
                left: 15px;
                svg {
                    path {
                        transition: 0.3s;
                    }
                }
            }
            &-name {
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.01em;
                color: #757575;
                position: relative;
                top: 24px;
            }
        }
        &__group:hover {
            i {
                svg {
                    path {
                        fill: #2196F3;
                    }
                }
            }
            input {
                border: 1px solid #2196F3;
            }
        }
    }
    &__input:focus {
        outline: none;
        border: 1px solid #2196F3;
    }
    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
    }
    &__textarea {
        margin-top: 28px;
        min-height: 120px;
        resize: none;
        max-width: inherit;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        transition: 0.3s;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
        padding: 12px 16px;
        font-family: 'Roboto';
    }
    &__textarea:hover {
        border: 1px solid #2196F3;
    }
    &__textarea:focus {
        outline: none;
        border: 1px solid #2196F3;
    }
    &__textarea:focus::placeholder {
        visibility: hidden;
    }
    &__textarea::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        color: #757575;
    }
    &__checkbox__group {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        &-item {
            background: #212121;
            width: 15px;
            height: 16px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            padding: 4px 3px 2px 3px;
        }
        &-text {
            margin-left: 8px;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.03em;
            color: #757575;
        }
        &-link {
            text-decoration: underline;
            color: #2196F3;
        }
        &-unchecked:active {
            &-unchecked::before {
                visibility: visible;
            }
            &-unchecked::after {
                visibility: hidden;
            }
        }
        &-checked::before {
            visibility: hidden;
        }
        &-checked::after {
            visibility: visible;
        }
    }
    &__button {
        display: flex;
        margin: 0 auto;
        margin-top: 30px;
    }
}

@keyframes showModal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal.open {
    display: block;
    animation: 0.5s ease-in showModal;
}

body.lock {
    overflow: hidden;
}