* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #F5F4FA;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000;
  text-decoration: none;
}
.logo span {
  color: #2196F3;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  background-color: white;
}
header .nav__wrapper {
  max-width: 533px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 93px;
}
header .nav__wrapper:first-child {
  margin: 0;
}
header .nav__container {
  max-width: 1170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0px;
}
header .nav__routes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .nav__routes-item {
  padding-left: 50px;
}
header .nav__routes-item:first-child {
  padding: 0;
}
header .nav__routes-link {
  font-weight: 500;
  color: #212121;
}
header .nav__routes-link:hover {
  color: #2196F3;
}
header .nav__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .nav__info-item {
  padding-left: 50px;
}
header .nav__info-item:first-child {
  padding: 0;
}
header .nav__info-link {
  font-weight: 500;
  color: #212121;
}
header .nav__info-link:hover {
  color: #2196F3;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.banner {
  background-color: #2F303A;
  padding: 200px 0;
}
.banner__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner__title {
  display: flex;
  text-align: center;
  color: white;
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 60px;
  letter-spacing: 0.06em;
}
.banner__button {
  background-color: #2196F3;
  color: white;
  border-radius: 4px;
  padding: 15px 32px;
  width: max-content;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  margin-top: 35px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.info__container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
  padding: 94px 0;
}
.info__item {
  max-width: 270px;
  width: 100%;
  padding-left: 30px;
}
.info__item:first-child {
  padding: 0;
}
.info__item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.info__item-text {
  line-height: 24px;
  margin-top: 10px;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: #757575;
}

.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 94px 0;
}
.about__pictures {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.about__pictures-img {
  margin: 20px;
  width: 370px;
  height: 294px;
}

.team__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 94px 0;
}
.team__cards {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.team__cards .card {
  border: black;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  max-width: 270px;
  margin-left: 30px;
}
.team__cards .card:first-child {
  margin: 0;
}
.team__cards .card__description {
  padding: 30px;
  margin: auto;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.03em;
}
.team__cards .card__img {
  width: 270px;
}
.team__cards .card__position {
  color: #757575;
  margin-top: 10px;
}

.footer {
  display: flex;
  background-color: #2F303A;
  padding: 10px;
}
.footer__container {
  max-width: 1170px;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__logo {
  color: white;
}
.footer__list {
  margin-top: 20px;
}
.footer__list-item {
  margin-top: 10px;
  color: white;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.footer__list p {
  opacity: 60%;
}

/*# sourceMappingURL=style.css.map */
