* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  background: #F5F4FA;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000;
  text-decoration: none;
}
.logo span {
  color: #2196F3;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  border: 1px solid #ECECEC;
  background-color: white;
}
header .nav__side {
  border: 1px solid #ECECEC;
  display: none;
  flex-direction: column;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
}
header .nav__side__routes {
  text-align: center;
  width: 100%;
}
header .nav__side__routes-item {
  padding: 20px 0;
  width: 100%;
}
header .nav__side__routes-item:first-child {
  padding: 0 0 20px 0;
  text-align: center;
}
header .nav__side__routes-link {
  display: flex;
  width: 100%;
  justify-content: center;
  font-weight: 500;
  color: #212121;
  transition: 0.3s;
  position: relative;
}
header .nav__side__routes-link:active {
  color: #2196F3;
}
header .nav__side__routes-link::after {
  content: "";
  position: absolute;
  background: #2196F3;
  width: 100%;
  bottom: -20px;
  left: 0;
  min-width: inherit;
  height: 4px;
  border-radius: 2px;
  transition: 0.3s;
  opacity: 0;
}
header .nav__side__routes-link:active:after {
  opacity: 1;
}
header .nav__side__info {
  width: 100%;
}
header .nav__side__info-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  position: relative;
  width: 100%;
}
header .nav__side__info-item:last-child {
  padding: 20px 0 0 0;
}
header .nav__side__info-item:last-child:active:after {
  bottom: -22px;
}
header .nav__side__info-link {
  font-weight: 500;
  color: #212121;
  margin-left: 10px;
  transition: 0.3s;
}
header .nav__side__info-item:active a {
  color: #2196F3;
}
header .nav__side__info-item:active svg path {
  fill: #2196F3;
}
header .nav__side__info-item:active:after {
  content: "";
  position: absolute;
  background: #2196F3;
  width: 100%;
  bottom: 0;
  left: 0;
  min-width: inherit;
  height: 4px;
  border-radius: 2px;
  transition: 0.3s;
  opacity: 0;
}
header .nav__side__info-item:hover:after {
  opacity: 1;
}
header .nav__side.show {
  display: flex;
  animation: growDown 300ms ease-in-out forwards;
}
header .nav__wrapper {
  max-width: 533px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 93px;
}
header .nav__wrapper:first-child {
  margin: 0;
}
header .nav__container {
  max-width: 1170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0px;
}
header .nav__routes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .nav__routes-item {
  padding-left: 50px;
}
header .nav__routes-item:first-child {
  padding: 0;
}
header .nav__routes-link {
  font-weight: 500;
  color: #212121;
  transition: 0.3s;
  position: relative;
}
header .nav__routes-link:hover {
  color: #2196F3;
}
header .nav__routes-link::after {
  content: "";
  position: absolute;
  background: #2196F3;
  width: 100%;
  bottom: -28px;
  left: 0;
  min-width: inherit;
  height: 4px;
  border-radius: 2px;
  transition: 0.3s;
  opacity: 0;
}
header .nav__routes-link:hover:after {
  opacity: 1;
}
header .nav__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .nav__info-item {
  display: flex;
  align-items: center;
  padding-left: 50px;
}
header .nav__info-item:first-child {
  padding: 0;
}
header .nav__info-link {
  font-weight: 500;
  color: #212121;
  margin-left: 10px;
  transition: 0.3s;
}
header .nav__info-item:hover a {
  color: #2196F3;
}
header .nav__info-item:hover svg path {
  fill: #2196F3;
}
header .nav__burger {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  display: none;
  padding: 8px 15px;
  margin-top: 0px;
}
header .nav__burger-line {
  width: 30px;
  padding: 2px 0;
  background: #000;
  margin-top: 4px;
  border-radius: 4px;
  transition: 0.3s;
}
header .nav__burger-line:first-child {
  margin-top: 0;
}
header .nav__burger::after {
  content: "";
  display: none;
}
header .nav__burger:hover div {
  background: #2196F3;
}
@media (max-width: 768px) {
  header .nav .logo {
    padding: 0 15px;
  }
  header .nav__burger {
    display: block;
  }
  header .nav__routes {
    display: none;
  }
  header .nav__info {
    display: none;
  }
  header .nav__side {
    display: none;
  }
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.banner {
  position: relative;
}
.banner__image {
  background: rgba(47, 48, 58, 0.4);
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.banner__container {
  padding: 200px 0 200px 0;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner__title {
  display: flex;
  text-align: center;
  color: white;
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 60px;
  letter-spacing: 0.06em;
}
.banner__button {
  margin-top: 35px;
}

.button {
  background-color: #2196F3;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 15px 32px;
  width: max-content;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.button:hover {
  background-color: #1a1aff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.button:active {
  background-color: #000080;
}

.title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.info__image {
  padding: 94px 0 30px 0;
  display: flex;
  justify-content: space-between;
}
.info__image-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: #E5E5E5;
  border-radius: 4px;
  margin-left: 30px;
}
.info__image-item:first-child {
  margin-left: 0;
}
.info__container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
  padding: 0 0 94px 0;
}
.info__item {
  max-width: 270px;
  width: 100%;
}
.info__item:first-child {
  padding: 0;
}
.info__item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.info__item-text {
  line-height: 24px;
  margin-top: 10px;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: #757575;
}

.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 94px 0;
}
.about__pictures {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.about__pictures-img {
  margin: 20px;
  width: 370px;
  height: 294px;
}
.about__pictures__container {
  position: relative;
}
.about__pictures__title {
  position: absolute;
  bottom: 23px;
  left: 20px;
  width: 370px;
  background: rgba(47, 48, 58, 0.8);
}
.about__pictures__title-item {
  padding: 27px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.team {
  background: #E5E5E5;
}
.team__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 94px 0;
}
.team__cards {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.team__cards .card {
  border: black;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  max-width: 270px;
  width: 100%;
  margin-left: 30px;
}
.team__cards .card:first-child {
  margin: 0;
}
.team__cards .card__description {
  padding: 30px;
  margin: auto;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.03em;
}
.team__cards .card__img {
  width: 270px;
}
.team__cards .card__position {
  color: #757575;
  margin-top: 10px;
}
.team__cards .card__social {
  padding: 16px 0 30px 0;
  display: flex;
  justify-content: center;
}
.team__cards .card__social-item {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  transition: 0.3s;
}
.team__cards .card__social-item:first-child {
  margin-left: 0;
}
.team__cards .card__social-item svg {
  transition: 0.1s;
}
.team__cards .card__social-item:hover {
  background-color: #2196F3;
  color: white;
  border-radius: 50%;
}
.team__cards .card__social-item:hover svg path {
  fill: white;
}

.clients__list {
  display: flex;
  justify-content: center;
  padding: 50px 0 0px 0;
}
.clients__container {
  padding: 94px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.clients-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  margin-left: 30px;
  transition: 0.3s;
}
.clients-item:first-child {
  margin-left: 0;
}
.clients-item svg path {
  transition: 0.3s;
}
.clients-item:hover {
  border: 1px solid #2196F3;
}
.clients-item:hover svg path {
  fill: #2196F3;
}

.footer {
  display: flex;
  background-color: #2F303A;
}
.footer__container {
  max-width: 1170px;
  padding: 60px 0;
  display: flex;
}
.footer__logo {
  color: white;
}
.footer__list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.footer__list-item {
  margin-top: 10px;
  color: white;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.footer__list p {
  opacity: 60%;
}
.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer__social {
  padding: 10px 0;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
}
.footer__social-list {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.footer__social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-left: 10px;
  transition: 0.3s;
}
.footer__social-item:first-child {
  margin-left: 0;
}
.footer__social-item:hover {
  background-color: #2196F3;
}
.footer__send {
  padding: 10px 0;
  margin-left: 93px;
  display: flex;
  flex-direction: column;
}
.footer__send-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer__group {
  margin-top: 20px;
  position: relative;
}
.footer__group-button {
  margin-left: 12px;
  width: 200px;
  height: 50px;
  padding: 10px 29px;
  text-align: start;
}
.footer__group-icon {
  position: absolute;
  top: 13px;
  right: 32px;
}
.footer__group-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
  width: 358px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
  padding-left: 15px;
  transition: 0.3s;
}
.footer__group-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__group-input:focus::placeholder {
  visibility: hidden;
}
.footer__group-name {
  position: absolute;
  top: 15px;
  left: 16px;
  z-index: 1;
}
.footer__group-input:hover {
  border: 1px solid #2196F3;
}
.footer__group-input:focus {
  outline: none;
  border: 1px solid #2196F3;
}
.footer__group:active span {
  visibility: hidden;
}

.navbar__container {
  display: flex;
  justify-content: center;
  margin-top: 94px;
}
.navbar__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000;
  padding: 6px 22px;
  background: #F5F4FA;
  border: #F5F4FA;
  border-radius: 4px;
  margin-left: 8px;
  transition: 0.3s;
}
.navbar__button:first-child {
  margin-left: 0;
}
.navbar__button:hover {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1215686275);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.0784313725);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1019607843);
}

.photocards__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 50px 0 94px 0;
}
.photocards__group {
  width: 100%;
  height: 294px;
  position: relative;
  transition: 0.3s;
  z-index: 1;
}
.photocards__group__description {
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  opacity: 0;
  z-index: 1;
  top: 0;
  left: 0;
  transition: 0.3s;
}
.photocards__group__description-item {
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding: 63px 24px;
  opacity: 0;
  transition: 0.3s;
  z-index: 1;
}
.photocards__group__description-item:hover {
  opacity: 1;
}
.photocards__group__description:hover {
  opacity: 1;
}
.photocards__group-image {
  width: 100%;
  height: 100%;
}
.photocards__item {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  max-width: 370px;
}
.photocards__item:hover div p {
  opacity: 1;
}
.photocards__description {
  margin: 20px 0;
  padding: 0 24px;
}
.photocards__type {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
.photocards__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
}
.modal__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
  transition: all 0.8s ease;
}
.modal__content {
  width: 528px;
  height: 627px;
  background: white;
  position: relative;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__close {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 8px;
  right: 8px;
}
.modal__container {
  display: flex;
  flex-direction: column;
  max-width: 448px;
  max-height: 501px;
  height: 100%;
  margin: 0 auto;
  padding: 40px 0;
}
.modal__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 28px;
  width: 100%;
  padding: 10px;
  transition: 0.3s;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-left: 40px;
}
.modal__input:first-child {
  margin-top: 30px;
}
.modal__input__group {
  position: relative;
  transition: 0.3s;
}
.modal__input__group-icon {
  position: absolute;
  top: 53px;
  left: 15px;
}
.modal__input__group-icon svg path {
  transition: 0.3s;
}
.modal__input__group-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  position: relative;
  top: 24px;
}
.modal__input__group:hover i svg path {
  fill: #2196F3;
}
.modal__input__group:hover input {
  border: 1px solid #2196F3;
}
.modal__input:focus {
  outline: none;
  border: 1px solid #2196F3;
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.modal__textarea {
  margin-top: 28px;
  min-height: 120px;
  resize: none;
  max-width: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: 0.3s;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
  font-family: "Roboto";
}
.modal__textarea:hover {
  border: 1px solid #2196F3;
}
.modal__textarea:focus {
  outline: none;
  border: 1px solid #2196F3;
}
.modal__textarea:focus::placeholder {
  visibility: hidden;
}
.modal__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal__checkbox__group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.modal__checkbox__group-item {
  background: #212121;
  width: 15px;
  height: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 4px 3px 2px 3px;
}
.modal__checkbox__group-text {
  margin-left: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal__checkbox__group-link {
  text-decoration: underline;
  color: #2196F3;
}
.modal__checkbox__group-unchecked:active-unchecked::before {
  visibility: visible;
}
.modal__checkbox__group-unchecked:active-unchecked::after {
  visibility: hidden;
}
.modal__checkbox__group-checked::before {
  visibility: hidden;
}
.modal__checkbox__group-checked::after {
  visibility: visible;
}
.modal__button {
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
}

@keyframes showModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal.open {
  display: block;
  animation: 0.5s ease-in showModal;
}

body.lock {
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
